/*? =============== Fuentes =============== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

/*? =============== Variables =============== */

:root {
  --clr-bg-1: #1c1026;
  --clr-bg-2: #150d1c;
  --clr-bg-3: #0f0717;

  --clr-t-1: #ffffff;
  --clr-t-2: #f1f1f1;
  --clr-t-3: #827c85;

  --clr-red: #ff0000;
  --clr-pink: #ff308f;
  --clr-light-pink: #ff6ec5;
  --clr-light-purple: #df2fff;
  --clr-purple: #c32aa3;
  --clr-blue: #1877f2;
  --clr-light-blue: #00ccff;
  --clr-sky-blue: #1da1f2;
  --clr-light-green: #a1e750;
  --clr-green: #0f0;
  --clr-dark-green: #25d366;
  --clr-yellow: #ff0;
  --clr-golden: #ffcd39;
  --clr-gray: #d9d9d9;
}

/*? =============== Body =============== */

.body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  background-color: var(--clr-bg-1);

  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/*! ======= Body Scroll ======= */

.body::-webkit-scrollbar {
  -webkit-appearance: none;
}

.body::-webkit-scrollbar:vertical {
  width: 6px;
}

.body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.body::-webkit-scrollbar:horizontal {
  height: 10px;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 20px;

  background-color: #3b3b3b9a;
}

.body::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*? =============== Header =============== */

.header {
  margin: auto;
  padding: 0 30px;

  height: 70px;
  width: 100%;
  max-width: 850px;

  position: absolute;
  z-index: 2;

  display: grid;
  align-items: center;
}

/*! ======= Header Brand ======= */

.header__brand {
  font-size: 1.375rem;
  font-weight: bold;
  color: var(--clr-t-2);
}

/*! ======= Header Nav ======= */

.nav {
  height: 60px;
  width: 100%;
  
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: var(--clr-bg-3);
  border-radius: 10px;
}

.nav__list {
  width: 350px;

  display: flex;

  text-transform: capitalize;
}

.nav__list-item {
  height: 60px;
  width: 70px;
  
  position: relative;
  z-index: 2;

  list-style: none;
}

.nav__link {
  width: 100%;
  
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  text-align: center;
}

.nav__link-icon {
  position: relative;

  display: block;
  
  line-height: 65px;
  font-size: 1.5em;
  color: var(--clr-t-3);
  
  transition: 0.5s;
}

.nav__list-item.active .nav__link-icon {
  color: #2196f3;
  
  transform: translateY(-30px);
}

.nav__link-name {
  padding: 2px 10px;
  
  position: absolute;
  
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--clr-bg-3);
  
  transform: translateY(15px);
  transition: 0.5s;
  opacity: 0;
  border-radius: 10px;
}

.nav__list-item.active .nav__link-name {
  transform: translateY(3px);
  opacity: 1;
}

.indicator {
  height: 70px;
  width: 70px;

  position: absolute;
  top: -35px;
  z-index: 1;
  
  background-color: var(--clr-bg-3);
  border-radius: 50%;
  
  transition: 0.5s;
}

.indicator::before {
  content: "";
  
  width: 30px;
  height: 30px;
  
  position: absolute;
  top: 5px;
  left: -28px;
  
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px var(--clr-bg-3);
}

.indicator::after {
  content: "";
  
  height: 30px;
  width: 30px;
  
  position: absolute;
  top: 5px;
  right: -28px;
  
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px var(--clr-bg-3);
}

.nav__list-item:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.nav__list-item:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.nav__list-item:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.nav__list-item:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.nav__list-item:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.nav__list-item:nth-child(1).active .nav__link-name {
  border: 1px solid var(--clr-light-blue);
  background-color: var(--clr-light-blue);
  box-shadow: 0 0 10px var(--clr-light-blue);
}

.nav__list-item:nth-child(2).active .nav__link-name {
  border: 1px solid var(--clr-yellow);
  background-color: var(--clr-yellow);
  box-shadow: 0 0 10px var(--clr-yellow);
}

.nav__list-item:nth-child(3).active .nav__link-name {
  border: 1px solid var(--clr-green);
  background-color: var(--clr-green);
  box-shadow: 0 0 10px var(--clr-green);
}

.nav__list-item:nth-child(4).active .nav__link-name {
  border: 1px solid var(--clr-light-purple);
  background-color: var(--clr-light-purple);
  box-shadow: 0 0 10px var(--clr-light-purple);
}

.nav__list-item:nth-child(5).active .nav__link-name {
  border: 1px solid var(--clr-pink);
  background-color: var(--clr-pink);
  box-shadow: 0 0 10px var(--clr-pink);
}

.nav__list-item:nth-child(1).active .nav__link-icon {
  color: var(--clr-light-blue);
  text-shadow: 0 0 15px var(--clr-light-blue), 0 0 30px var(--clr-light-blue),
    0 0 45px var(--clr-light-blue), 0 0 60px var(--clr-light-blue);
}

.nav__list-item:nth-child(2).active .nav__link-icon {
  color: var(--clr-yellow);
  text-shadow: 0 0 15px var(--clr-yellow), 0 0 30px var(--clr-yellow),
    0 0 45px var(--clr-yellow), 0 0 60px var(--clr-yellow);
}

.nav__list-item:nth-child(3).active .nav__link-icon {
  color: var(--clr-green);
  text-shadow: 0 0 15px var(--clr-green), 0 0 30px var(--clr-green),
    0 0 45px var(--clr-green), 0 0 60px var(--clr-green);
}

.nav__list-item:nth-child(4).active .nav__link-icon {
  color: var(--clr-light-purple);
  text-shadow: 0 0 15px var(--clr-light-purple),
    0 0 30px var(--clr-light-purple), 0 0 45px var(--clr-light-purple),
    0 0 60px var(--clr-light-purple);
}

.nav__list-item:nth-child(5).active .nav__link-icon {
  color: var(--clr-pink);
  text-shadow: 0 0 15px var(--clr-pink), 0 0 30px var(--clr-pink),
    0 0 45px var(--clr-pink), 0 0 60px var(--clr-pink);
}